<p>
  <b>Title:</b>
  <%=h @activity_area.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @activity_area.description %>
</p>


<%= link_to 'Edit', edit_activity_area_path(@activity_area) %> |
<%= link_to 'Back', activity_areas_path %>