<div id="comment_<%= comment.id %>">
 <%= if comment.user_id.nil? 
   t(:anonymous)
 else
 link_to comment.user.username, profile_for(comment.user) 
end %>
<%= h comment.created_at.as_lt_words %></p>
<p><%= sanitize comment.body %></p>    
</div>
