<h1>Admin functions</h1>

<div id="admin_functions">
  <p>
    <%=button_to t(:start_updating_feeds), {:action => :start_feed_updating}, :disabled => FeedUpdater.check_if_bgprocess_running %>
    <%=button_to t(:stop_updating_feeds), {:action => :stop_feed_updating}, :disabled => !FeedUpdater.check_if_bgprocess_running %>
  </p>
</div>
