body {
font-family: sans-serif;
background: white;
margin: 4;
text-align: left;
}

h1 {
font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	margin-bottom: 22px;
	color: #333;
}

h2 {
font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22px;
	margin-bottom: 22px;
	color: #333;
}

fieldset{
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

legend{
  padding: .4em 1em;
}

.form_row{
  white-space: nowrap;
  padding-bottom: .5em;
}

label{
  width: 10em;
  float: left;
  text-align: right;
  margin-right: 0.2em;
  display: block;
}

.submit{
  margin-left: 12.5em;
}

#notice {
  border: 1px solid;
  padding: 1em;
  margin: 1em;
  margin-bottom: 2em;
  font: bold;
}

.debug_dump{
  border-top: 1px dashed black;
  text-align: left;
  background: #ccc;
  margin: 0;
  padding: .5em;
}

.fieldWithErrors {
  margin: 2px;
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12pt;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 11pt;
  list-style: square;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.0em; }
.css3 { font-size: 1.3em; }
.css4 { font-size: 1.7em; }
.css5 { font-size: 2.0em; }

span.postDate{
  font-size: 11px;
}

div.study{
  margin: 4px;
}

.notice{
  font-size: 11px;
  color: #ff0000;
}

.modal{
    margin: 4px;
}
