<%= collection_select("study", :university_id, universities, :id, :title,
  {:prompt   => t(:select_university)}) %>
	<span id="add_university_link">
        <%= link_to t(:new_entry), new_university_path, :class => 'lbOn' %>
    </span>
