<h2>Register</h2>
<% form_for :user do |f| %>
  <fieldset>
    <legend>Enter Your Details</legend>
    <label for="username">Username:</label>
    <%= f.text_field :username, :size => User::USERNAME_SIZE, :maxlength => User::USERNAME_MAX_LENGTH%>
    <br />

    <label for="email">Email:</label>
    <%= f.text_field :email, :size => User::EMAIL_SIZE, :maxlength => User::EMAIL_MAX_LENGTH %>
    <br />

    <label for="password">Password:</label>
    <%= f.password_field :password, :size => User::PASSWORD_SIZE, :maxlength => User::PASSWORD_MAX_LENGTH %>
    <br />

    <%= submit_tag "Register", :class => "submit" %>
  </fieldset>
<% end %>
