<h1>Listing concepts</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @wikis.each do |wiki| %>
  <tr>
    <td><%= link_to wiki.title , wiki.title %></td>
    <td><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
    <td><%= link_to 'Destroy', wiki, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_page), new_wiki_path %>
