<% form_for(@post, :url => url_path) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= text_field_for f, "title", 60 %>
  </p>
  <p>
  <label for="body">Body:</label>
  <%= f.text_area :body, :rows => 20, :cols =>60 %>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>
