<h1>Editing post</h1>

<%= render :partial => "form", :locals => {:button_name => "Update", :url_path => {:controller => "posts", :action => "update"}} %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', url_for(:back) %>
