<%= label_tag ("activity_exchange_program_id", t(:exchange_program_name)) %>
<%= collection_select("activity", :exchange_program_id, exchange_programs, :id, :title,
  {:prompt   => t(:select_exchange_program)}) if !exchange_programs.blank? %>
	<span id="add_exchangeprogram_link">
        <%= link_to t(:new_exchange_program), new_exchange_program_path,:class => 'lbOn' %>
    </span>
