<h1>New university</h1>

<% form_for(@university) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "basic_fields", :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', universities_path %>
